<div class="row">
  <div class="col-xs-5">
    {{input id="name"
            value=name
            class="form-control"
            type="text"
            placeholder=(i18n 'movie.cast.name.placeholder')}}
  </div>
  <div class="col-xs-5">
    {{input id="role"
            value=role
            class="form-control"
            type="text"
            placeholder=(i18n 'movie.cast.role.placeholder')}}
  </div>
  <div class="col-xs-2">
    <button {{action 'add'}} class="btn btn-success">
      {{fa-icon "plus" size="lg"}}
    </button>
  </div>
</div>
