.nice-rectangle {
  border-radius: 5px;
}

.row {
  margin-top: 10px;
}

.submit-button {
  margin-bottom: 10px;
}

.movie-buttons {
  margin-top: 10px;
}

/* remove spin from input[type=number] for webkit browsers */
input::-webkit-outer-spin-buttn,
input::-webkit-inner-spin-buttn {
  -webkit-appearence: none;
  margin: 0;
}

/* remove spin from input[type=number] for moz browsers */
input[type='number'] {
  -moz-appearance: textfield;
}
